/* general */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

/* utils */
.hide {
  display: none;
}

/* variables */
:root{
  --bg-color: #fff;
  --header-bg-color: #128c7e;
  --footer-bg-color: #273443;
  --dark-green: #075e54;
  --black-color: #1c1e21;
  --gray-color: #5E5E5E;
  --white-color: #fff;
  --link-color: #39b3ed;
}

/* header */
#main-header {
  background-color: var(--header-bg-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  padding: 26px;
  position: fixed;
  width: 100%;
  top: 0;
}

#main-header #header-container {
  flex: 1 1 auto;
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-logo-container {
  flex: 1 1 auto;
}

#main-header #header-container #main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  text-transform: uppercase;
}

#main-header #header-container #main-nav ul {
  display: flex;
  justify-content: space-around;
  flex: 1 1 auto;
}

#main-header #header-container #main-nav ul li {
  padding: 5px;
}

#main-header #header-container #main-nav .language {
  display: flex;
  align-items: center;
}

#main-header #header-container #main-nav .language .material-icons-outlined {
  margin: 0 5px;
  font-size: 20px;
}

#main-header #header-container #main-nav .language .tri-below {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--white-color);
  margin: 0 5px;
}

/* responsivo header  */
@media (max-width: 1025px) {
  #main-header {
    font-size: .8rem;
    padding: 20px 26px;
  }

  #main-logo {
    display: none;
  }

  #main-logo-icon {
    display: block;
    padding: 0 5px;
  }

  #main-logo-container {
    flex: 1 1 auto;
  }

  #main-header #header-container #main-nav .language #selected-language,
  #main-header #header-container #main-nav .language .tri-below {
    display: none;
  }

}

@media (max-width: 767px) {
  #main-header {
    position: relative;
  }
  #main-header #header-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #main-header #header-container #main-nav {
    display: none;
  }

  #menu-ham{
    display: block;
    align-self: flex-end;
  }

  #menu-ham span{
    font-size: 2rem;
  }

  #main-logo-icon {
    height: 77px;
  }
}

/* download section */
#download-section {
  display: flex;
  justify-content: center;
  padding: 140px 80px 40px 80px;
}

#download-container {
  max-width: 788px;
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
}

#download-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  line-height: 45px;
  padding-bottom: 40px;
}

.title h2, h1 {
  font-size: 2rem;
  font-weight: 400;
}

.description {
  line-height: 25px;
  padding-bottom: 30px
}

.description p {
  font-size: 1.1rem;
}

.extra-info {
  padding-bottom: 30px
}

.extra-info p {
  color: var(--gray-color);
}

#download-list li{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: var(--header-bg-color);
  font-size: 1.1rem;
}

#download-list li .material-icons-outlined{
  padding-right: 15px;
}

#download-banner {
  width: 41%;
}

#download-banner img {
  width: 100%;
}

.btn-container {
  text-align: center;
}

.btn-main {
  background-color: var(--dark-green);
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  margin-bottom: 40px;
}

.btn-main a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white-color);
  font-size: 1rem;
}

/* download responsive  */

@media (max-width: 767px) {
  #download-section {
    background-color: var(--header-bg-color);
    color: var(--white-color);
    padding: 40px 25px 0 25px;
  }

  #download-container {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }

  #download-info,
  #download-banner {
    width: auto;
  } 

  #download-banner {
    display: flex;
    justify-content: center;
  }

  #download-banner-responsive-container {
    max-width: 300px;
  }

  .extra-info {
    display: none;
  }

  #download-list {
    display: none;
  }

  .title {
    padding-bottom: 20px;
    line-height: 35px;
  }

  .title h2{
    font-size: 1.5rem;
  }

  .description p{
    font-size: 1rem;
  }

  #download-btn.btn-container {
    display: block;
  }

  #download-banner-responsive-img {
    display: block;
  }

  #download-banner-main-img {
    display: none;
  }
}